.slidev-layout h1, .slidev-layout h2, .slidev-layout h3, .slidev-layout h4, .slidev-layout.intro h1{
    font-family: "Apple Braille", Arial, sans-serif;
}

.slidev-layout pre {
    font-weight: normal;
}

/* fix penguin theme */
.slides-overview #slide-container {
    height: 168px !important;
}

.footnotes-sep {
    @apply mt-20 opacity-10;
}
.footnotes {
    @apply text-sm opacity-75;
}
.footnote-backref {
    display: none;
}

h2 {
    @apply mb-8
    @apply text-secondary;
}

h2 small{
    @apply text-xl opacity-70;
    @apply ml-1;
    @apply font-normal;
}

h3, h4, h5 {
    @apply mb-4
}

.code-wrap .slidev-code-wrapper > pre {
    max-width: none;
}

.slidev-layout blockquote{
    @apply mt-2 mb-2;
}